<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.2.xsd">
    
 	<authentication-manager>
  		<authentication-provider>
  		  	<password-encoder hash="md5"/>
     	 	<jdbc-user-service data-source-ref="dataSource" users-by-username-query="select username,password,status from tbl_administrator WHERE username=?"
       			authorities-by-username-query="select username, 'NORMALLY' as authority from tbl_administrator where username=?"/>
      	</authentication-provider>
 	</authentication-manager>
 	
 	<beans:bean id="jwtUtils" class="com.cd.uap.jwt.JWTUtils"/>
	<beans:bean id="jwtAuthenticationFilter" class="com.cd.uap.jwt.JWTAuthenticationFilter"/>
	<beans:bean id="restAuthenticationEntryPoint" class="com.cd.uap.jwt.RestAuthenticationEntryPoint"/>
 
    <http entry-point-ref="restAuthenticationEntryPoint" create-session="stateless">
		<csrf disabled="true"/>
		<custom-filter before="FORM_LOGIN_FILTER" ref="jwtAuthenticationFilter"/>
    	<form-login login-page="/api/uap/v1/login"/>
		<logout/>
    	<!-- 注意这个配置，它的匹配规则会去先匹配方法，如接口有个方法地址为"/test",即使你定义的是"/test.html"也会去匹配"/test"而忽略后缀 -->

    	<intercept-url pattern="/death.html" access="hasAnyAuthority('NORMALLY')" />
    
    	<intercept-url pattern="/api/uap/v1/adminApp/**" access="hasAnyAuthority('NORMALLY')" />
    	<intercept-url pattern="/api/uap/v1/administrator/**" access="hasAnyAuthority('NORMALLY')" />
    	<intercept-url pattern="/api/uap/v1/application/**" access="hasAnyAuthority('NORMALLY')" />
    	<intercept-url pattern="/api/uap/v1/authority/**" access="hasAnyAuthority('NORMALLY')" />
    	<intercept-url pattern="/api/uap/v1/role/**" access="hasAnyAuthority('NORMALLY')" />
    	<intercept-url pattern="/api/uap/v1/user/**" access="hasAnyAuthority('NORMALLY')" />
    	<intercept-url pattern="/api/uap/v1/administratorIO/**" access="hasAnyAuthority('NORMALLY')" />
    	<intercept-url pattern="/api/uap/v1/userIO/**" access="hasAnyAuthority('NORMALLY')" />
    	<intercept-url pattern="/api/uap/v1/roleAuthority/**" access="hasAnyAuthority('NORMALLY')" />
    	<intercept-url pattern="/api/uap/v1/roleUser/**" access="hasAnyAuthority('NORMALLY')" />
    	

    </http>
</beans:beans>